@font-face{
	font-family: 'Roboto';
	src: url('sources/Roboto.ttf')
	format('truetype');
}

@font-face{
	font-family: 'Roboto';
	src: url('sources/Roboto-Bold.ttf') 
	format('truetype');
	font-weight: bold;
	font-style: normal;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #090909;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-family: "Times New Roman";
}

h1{
	font-size: 1.5vw;
	text-align: center;
	color: #f68200;
	font-family: Roboto;
	font-weight: bold;
	padding: 5px;
	background-color: #642C01;
	border: 2px solid #400;
	border-radius: 10px;
	margin: 20px auto;
	min-width: 100px;
	max-width: 600px;
}

p{
	font-size: 1vw;
	text-align: center;
	text-align: justify;
	padding: 20px;
}

img {
	object-fit: scale-down;
}

#header{
	background:url(img/index.png) no-repeat center top / cover;
	height: 100%;
}

#logo{
	position: relative;
	width: 40%;
	margin: auto;
}

#headicon{
	width: 100%;
}

#headlogo{
	width: 60%;
	position: absolute;
	left: 150px;
	bottom: 60px;
}

#navigation{
	width: 100%;
	background-color: #f66200;
	height: 3vw;
	font-family: Calibri;
	font-weight: bold;
	font-size: 1.7vw;
	text-align: center;
}

.a_navigation{
	margin: 0% 2%;
}

#navigation a{
	position: relative;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffff00;
}

#navigation a:after{
	content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5px;
    left: 0;
    transition: transform .5s;
    background-color: #ffff00;
}

#navigation a:not(:hover):after {
    -webkit-transform: scalex(0);
    transform: scalex(0);
}

#cursor{
	width: 50px;
	height: 50px;
	position: fixed;
	left: 25px;
	bottom: 50px;
	border: 2px solid #fff;
	border-radius: 50px;
	z-index: 9999;
	opacity: 0.5;
	transition: 1s all;
}

#cursor:hover{
	opacity: 1;
	transform: scale(1.1);
}

.center{
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80%;
}

.center img{
	max-width: 800px;
}

#content1{
	margin-top:20px;
	padding-bottom: 20px;
}

#first_content{
	width: 100%;
	display: flex;
	justify-content: rowspan;
}

#first_content img{
	width: 25%;
}

#first_K{
	font-size: 250%;
	color: #f66200;
}

#text{
	width: 47%;
	margin: auto;
}

.panelcontent{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
}

#panel1{
	margin-bottom: 40px;
}

.img_text{
	width: 49%;
}

.miniimg{
	display: block;
	width: 150px;
	padding: 0px;
	margin: auto;
}

#panel1_text{
	margin: 0px;
	padding: 0px;
	float:left;
}

#panel1_img{
	width: 49%;
	float: right;
}

#panel2_text{
	float: right;
	width: 59%;
	margin-top: 50px;
}

#panel2_img{
	width: 40%;
	float: left;
}

.mapblock{
	display: flex;
	width: 100%;
	height: 35vw;
	margin-bottom: 20px;
}

.map{
	width: 100%;
	height: 32vw;
	border: 5px solid #f66200;
}

.map-title {
	font-size: 1.2vw;
	text-align: center;
	display: block;
	width: 30%;
    color: #f66200;
    z-index: 2;
	margin: auto;
    background-color: #081f26;
    padding: 10px;
    border-radius: 5px;
   	position: relative;
   	top: 15%;
}

#price{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100%;
	margin: auto;
	position: relative;
	top: 20px;
	font-family: "Roboto";
}

#price h3{
	text-align: center;
	font-family: "Roboto";
	font-weight: bold;
	color: yellowgreen;
	font-size: 1.2vw;
	margin: 0px;
	padding: 10px;
}

#price table{
	text-align: center;
	background-color: #301500;
	padding: 0px;
	margin: 0px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}

.tableheader:hover{
	background-color: black;
}

#price table tr:hover{
	background-color: #402510;
}

#price1{
	width: 49%;
	margin: 0px;
	padding: 0px;
}

#price2{
	width: 49%;
	margin: 0px;
	padding: 0px;
}

.tableheader td{
	padding: 10px;
	font-size: 1.3vw;
	font-weight:bold;
	color: yellow;
}

.tdcont{
	height: 2.5vw;
	font-size: 0.9vw;
}

footer{
	width: 100%;
	background-color: #f68200;
	height: 70px;
	display: block;
	margin: 70px 0px 0px 0px;
}

#contacts{
	width: 60%;
	height: 50px;
	margin: 10px auto 0px;
	padding: 0px;
}

.footer_text{
	font-family: calibri;
	font-size: 1.3vw;
	font-weight: bold;
}

#vk{
	display: block;
	float: left;
	width: 3vw;
	margin: 0px 20px;
}

.phone{
	display: block;
	margin: 10px 20px;
	float: left;
}

#phone{
	width: 1.5vw;
	margin: 5px 10px;
	float: left;
}

.phone span{
	float: left;
}

.time{
	display: block;
	float: right;
	margin: 0px 20px;
}

#clock{
	float: left;
	width: 3vw;
}

.time span{
	float: left;
	margin-top: 12px;
}

